<!DOCTYPE html>
<html lang="en">
<title>Report</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<!-- modal -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Poppins", sans-serif
    }
    
    body {
        font-size: 16px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    button {
        border: none;
        padding: 8px 28px;
        cursor: pointer;
    }
</style>

<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar  w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold; background: -webkit-linear-gradient(-135deg, rgb(214, 121, 240), #8799f1);" id="mySidebar"><br>
        <div class="w3-container">
            <img src="../images/logo.png" alt="logo" width="200" height="200" />
            <h4><b>
                ระบบวิเคราะห์การเกษตร
                <br>
                ภาคตะวันออก
               </b>
            </h4>
        </div>
        <div class="w3-bar-block w3-padding-64">
            <a href="/home" class="w3-bar-item w3-button w3-hover-white">หน้าหลัก</a>
            <a href="/list" class="w3-bar-item w3-button w3-hover-white">รายการเพาะปลูก</a>
            <a href="/contact" class="w3-bar-item w3-button w3-hover-white">ติดต่อสมาชิก</a>
            <a href="/report" class="w3-bar-item w3-button w3-hover-white">แจ้งเตือน</a>
            <a href="/manager" class="w3-bar-item w3-button w3-hover-white">จัดการผู้ใช้งาน</a>
            <a href="/login" class="w3-bar-item w3-button w3-hover-white">ออกจากระบบ</a>
        </div>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo" style="text-align: center;"><b>แจ้งเตือน</b></h1>
            <!-- <a href="/saveMes">test</a> -->
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ลำดับที่</th>
                        <th>ชื่อผู้ใช้</th>
                        <th>หัวข้อ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i =0 ; i< mes.length ; i ++ ){%>
                        <tr>
                            <td>
                                <%= i + 1  %>
                            </td>
                            <td>
                                <%= mes[i].username %>
                            </td>
                            <td>
                                <%= mes[i].headname %>
                            </td>
                            <td>
                                <button style="margin-right: 10px; background-color: #4CAF50;color:white;" onclick="readMes('<%= mes[i].headname %>','<%= mes[i].bodytext %>','<%= mes[i].doctype %>','<%= mes[i].username %>','<%= mes[i].id %>')">อ่าน</button>
                                <button onclick="deleteMes('<%= mes[i].id %>')" style="background-color: #f44336;color: white;">ลบ</button>
                            </td>
                        </tr>
                        <%} %>
                </tbody>
            </table>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">จดหมาย</h4>
                            <label>จาก</label>
                            <label id="username"></label>
                    </div>
                    <div class="modal-body">
                        <h4 id="headname"></h4>

                        <p id="bodytext"></p>
                        <br>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f44336;color:white;">ปิด</button>
                    </div>
                </div>

            </div>
        </div>








        <!-- End page content -->
    </div>




</body>
<script>
    function deleteMes(id) {
        window.location.href = '/deleteMes/' + id
    }

    function readMes(headname, bodytext, doctype, username, id) {
        document.getElementById("username").innerHTML = username;
        document.getElementById("headname").innerHTML = headname;
        document.getElementById("bodytext").innerHTML = bodytext;

        $('#myModal').modal('show');
    }

    function askMes(idMes) {
        window.location.href = idMes

    }
</script>

</html>