<!DOCTYPE html>
<html lang="en">
<title>Calculate Cost</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Poppins", sans-serif
    }
    
    body {
        font-size: 16px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    button {
        border: none;
        padding: 8px 28px;
        cursor: pointer;
    }
    
    .dropbtn {
        background-color: #008CBA;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #006bb3;
    }
</style>

<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar  w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold; background: -webkit-linear-gradient(-135deg,  rgb(214, 121, 240), #8799f1);" id="mySidebar"><br>
        <div class="w3-container">
            <img src="/images/logo.png" alt="logo" width="200" height="200" />
            <h4><b>
                ระบบวิเคราะห์การเกษตร
                <br>
                ภาคตะวันออก
               </b>
            </h4>
        </div>
        <div class="w3-bar-block" style="margin-top: 20px;">
            <a href="/homemember" class="w3-bar-item w3-button w3-hover-white">หน้าหลัก</a>
            <a href="/graph" class="w3-bar-item w3-button w3-hover-white">ราคาผลผลิต</a>
            <a href="/listmember" class="w3-bar-item w3-button w3-hover-white">รายการเพาะปลูก</a>
            <a href="/calcost" class="w3-bar-item w3-button w3-hover-white">คำนวณต้นทุน</a>
            <a href="/record" class="w3-bar-item w3-button w3-hover-white">บันทึกค่าใช้จ่าย</a>
            <a href="/harvest" class="w3-bar-item w3-button w3-hover-white">เก็บเกี่ยว</a>
            <a href="/conclude" class="w3-bar-item w3-button w3-hover-white">สรุป</a>
            <a href="/reportfrommember" class="w3-bar-item w3-button w3-hover-white">แจ้งเตือน</a>
            <a href="/contactfrommember" class="w3-bar-item w3-button w3-hover-white">ติดต่อผู้ดูแลระบบ</a>
            <a href="/login" class="w3-bar-item w3-button w3-hover-white">ออกจากระบบ</a>
        </div>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo" style="text-align: center;"><b>คำนวณต้นทุน</b></h1>

        </div>

        <center>
            <div class="dropdown" style="margin-top: 20px;">
                <button class="dropbtn" style="width: 500px; margin-bottom: 22px;" id="productname">เลือกรายการ</button>
                <div class="dropdown-content" style="width: 100%;">
                    <% for(var i =0 ; i < list.length ; i ++ ){  %>
                        <% for(var j =0 ; j < listmember.length ; j ++ ){  %>
                            <% if( list[i].name == listmember[j].product){ %>
                                <button style="width: 100%;" onclick="add('<%= listmember[j].product %>','<%= listmember[j].count %>','<%= list[i].price %>')"><%= listmember[j].product %> จำนวน <%= listmember[j].count %> ไร่</button>
                                <br>
                                <%} %>
                                    <%} %>
                                        <%} %>
                </div>
            </div>

            <div>
                <div style="margin-top: 40px;">

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>ค่าแรงทั้งหมด</p>
                                </td>
                                <td>
                                    <input type="number" style="margin-left: 20px;margin-right: 20px;" id="power" required>
                                </td>
                                <td>
                                    <p>บาท</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>ค่าวัสดุทั้งหมด</p>
                                </td>
                                <td>
                                    <input type="number" style="margin-left: 20px;margin-right: 20px;" id="material" required>
                                </td>
                                <td>
                                    <p>บาท</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>ค่าเช่าที่ดินทั้งหมด</p>
                                </td>
                                <td>
                                    <input type="number" style="margin-left: 20px;margin-right: 20px;" id="rent" required>
                                </td>
                                <td>
                                    <p>บาท</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>ผลิตที่คาดว่าจะเก็บเกี่ยวได้</p>
                                </td>
                                <td>
                                    <input type="number" style="margin-left: 20px;margin-right: 20px;" id="harvest" required>
                                </td>
                                <td>
                                    <p id="unit">กก.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="w3-container">
                        <button style="margin-top: 30px;background-color: #4CAF50;color:white;" onclick="cal()">คำนวณ</button>
                    </div>

                </div>
            </div>

        </center>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <center>

                        <div style="margin-top: 40px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>ต้นทุนรวม</p>
                                        </td>
                                        <td>
                                            <input type="text" id="cost" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <input type="text" id="cost2" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท/ไร่</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>รายได้</p>
                                        </td>
                                        <td>
                                            <input type="text" id="income" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <input type="text" id="income2" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท/ไร่</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>กำไร/ขาดทุน</p>
                                        </td>
                                        <td>
                                            <input type="text" id="profit" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <input type="text" id="profit2" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท/ไร่</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>ต้นทุนของ สศก. ต่อปี</p>
                                        </td>
                                        <td>
                                            <input type="text" id="official" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p></p>
                                        </td>
                                        <td>
                                            <input type="text" id="official2" style="margin-left: 20px;margin-right: 20px;" readonly>
                                        </td>
                                        <td>
                                            <p>บาท/ไร่</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f44336;color:white;">ปิด</button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 10%;">
            <p style="color:#f44336">หมายเหตุ: เป็นการคำนวณแบบคร่าวๆ เท่านั้น</p>
        </div>

        <!-- End page content -->
    </div>




</body>

<script>
    let product;
    let num;
    let pnum;


    function cal() {
        if (document.getElementById("power").value != '' && document.getElementById("material").value != '' && document.getElementById("rent").value != '' && document.getElementById("harvest").value != '') {
            var p = Number(document.getElementById("power").value);
            var m = Number(document.getElementById("material").value);
            var r = Number(document.getElementById("rent").value);
            var h = Number(document.getElementById("harvest").value);
            var n = Number(num);
            console.log(pnum)
            $('#myModal').modal('show');
            if (product == 'อ้อยโรงงาน') {
                document.getElementById("cost").value = Comma(Number(p + m + r).toFixed(2));
                document.getElementById("cost2").value = Comma(Number((p + m + r) / n).toFixed(2));
                document.getElementById("income").value = Comma(Number(h * pnum).toFixed(2));
                document.getElementById("income2").value = Comma(Number((h * pnum) / n).toFixed(2));
                document.getElementById("profit").value = Comma(Number((h * pnum) - (p + m + r)).toFixed(2));
                document.getElementById("profit2").value = Comma(Number(((h * pnum) - (p + m + r)) / n).toFixed(2));
                document.getElementById("official").value = Comma(Number(10482.13 * n).toFixed(2));
                document.getElementById("official2").value = Comma(Number(10482.13).toFixed(2));

            }
            if (product == 'สับปะรดสีทองเบอร์ใหญ่') {
                document.getElementById("cost").value = Comma(Number(p + m + r).toFixed(2));
                document.getElementById("cost2").value = Comma(Number((p + m + r) / n).toFixed(2));
                document.getElementById("income").value = Comma(Number(h * pnum).toFixed(2));
                document.getElementById("income2").value = Comma(Number((h * pnum) / n).toFixed(2));
                document.getElementById("profit").value = Comma(Number((h * pnum) - (p + m + r)).toFixed(2));
                document.getElementById("profit2").value = Comma(Number(((h * pnum) - (p + m + r)) / n).toFixed(2));
                document.getElementById("official").value = Comma(Number(17529.10 * n).toFixed(2));
                document.getElementById("official2").value = Comma(Number(17529.10).toFixed(2));
            }
            if (product == 'น้ำยางพาราสด') {
                document.getElementById("cost").value = Comma(Number(p + m + r).toFixed(2));
                document.getElementById("cost2").value = Comma(Number((p + m + r) / n).toFixed(2));
                document.getElementById("income").value = Comma(Number(h * pnum).toFixed(2));
                document.getElementById("income2").value = Comma(Number((h * pnum) / n).toFixed(2));
                document.getElementById("profit").value = Comma(Number((h * pnum) - (p + m + r)).toFixed(2));
                document.getElementById("profit2").value = Comma(Number(((h * pnum) - (p + m + r)) / n).toFixed(2));
                document.getElementById("official").value = Comma(Number(14230.32 * n).toFixed(2));
                document.getElementById("official2").value = Comma(Number(14230.32).toFixed(2));
            }
            if (product == 'ผลปาล์มน้ำมัน') {
                document.getElementById("cost").value = Comma(Number(p + m + r).toFixed(2));
                document.getElementById("cost2").value = Comma(Number((p + m + r) / n).toFixed(2));
                document.getElementById("income").value = Comma(Number(h * pnum).toFixed(2));
                document.getElementById("income2").value = Comma(Number((h * pnum) / n).toFixed(2));
                document.getElementById("profit").value = Comma(Number((h * pnum) - (p + m + r)).toFixed(2));
                document.getElementById("profit2").value = Comma(Number(((h * pnum) - (p + m + r)) / n).toFixed(2));
                document.getElementById("official").value = Comma(Number(7459.07 * n).toFixed(2));
                document.getElementById("official2").value = Comma(Number(7459.07).toFixed(2));
            }
            if (product == 'ข้าวเจ้า') {
                document.getElementById("cost").value = Comma(Number(p + m + r).toFixed(2));
                document.getElementById("cost2").value = Comma(Number((p + m + r) / n).toFixed(2));
                document.getElementById("income").value = Comma(Number(h * pnum).toFixed(2));
                document.getElementById("income2").value = Comma(Number((h * pnum) / n).toFixed(2));
                document.getElementById("profit").value = Comma(Number((h * pnum) - (p + m + r)).toFixed(2));
                document.getElementById("profit2").value = Comma(Number(((h * pnum) - (p + m + r)) / n).toFixed(2));
                document.getElementById("official").value = Comma(Number(3968.21 * n).toFixed(2));
                document.getElementById("official2").value = Comma(Number(3968.21).toFixed(2));

            }
        }

    }

    function add(name, count, price) {
        num = count
        product = name;
        pnum = price


        if (name == 'อ้อยโรงงาน') {
            document.getElementById("unit").innerHTML = 'ตัน';
        }
        if (name == 'สับปะรดสีทองเบอร์ใหญ่') {
            document.getElementById("unit").innerHTML = 'กก.';
        }
        if (name == 'น้ำยางพาราสด') {
            document.getElementById("unit").innerHTML = 'กก.';
        }
        if (name == 'ผลปาล์มน้ำมัน') {
            document.getElementById("unit").innerHTML = 'กก.';
        }
        if (name == 'ข้าวเจ้า') {
            document.getElementById("unit").innerHTML = 'ตัน';
        }
        document.getElementById("productname").innerHTML = product + ' จำนวน ' + count + 'ไร่';

    }

    function Comma(Num) {
        Num += '';
        Num = Num.replace(/,/g, '');

        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }
</script>

</html>